@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root{
    --primary:#C9A24D;
    --secondary: #0D3B66;
} */

.bg-onboarding-image::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: aqua;
    /* background-image: url('/assets/images/transparent-logo.png'); */
}